<div class="nav-container">
  <div class="nav-header">
    <h1>CLINIC MANAGEMENT</h1>
  </div>
  
  <div class="user-info">
    <p>Pedro Benitez Sanchez</p>
  </div>
  
  <div class="nav-links">
    <a class="nav-link" [routerLink]="['/buscar-paciente']" routerLinkActive="active">
      <i class="bi bi-person"></i>
      <span>Buscar Paciente</span>
    </a>
    
    <a class="nav-link" [routerLink]="['/registrar-paciente']" routerLinkActive="active">
      <i class="bi bi-person-plus"></i>
      <span>Registrar Paciente</span>
    </a>
    
    <a class="nav-link" [routerLink]="['/gestionar-citas']" routerLinkActive="active">
      <i class="bi bi-calendar-check"></i>
      <span>Gestionar Citas</span>
    </a>
    
    <a class="nav-link" [routerLink]="['/logout']" routerLinkActive="active">
      <i class="bi bi-power"></i>
      <span>Cerrar Sesion</span>
    </a>
  </div>
</div>