
<div class="nav-container">
  <div class="nav-header">
    <h1>CLINICLINK</h1>
  </div>
  
  <div class="user-info">
    <p>{{ userName || 'Usuario' }}</p>
    <small *ngIf="userRole">{{ userRole | titlecase }}</small>
  </div>
  
  <div class="nav-links">
    <a *ngIf="isRecepcionista()" class="nav-link" [routerLink]="['/buscar-paciente']" routerLinkActive="active">
      <i class="bi bi-person"></i>
      <span>Buscar Paciente</span>
    </a>
    
    <a *ngIf="isRecepcionista()" class="nav-link" [routerLink]="['/registrar-paciente']" routerLinkActive="active">
      <i class="bi bi-person-plus"></i>
      <span>Registrar Paciente</span>
    </a>
    
    <a *ngIf="isRecepcionista()" class="nav-link" [routerLink]="['/registrar-medico']" routerLinkActive="active">
      <i class="bi bi-person-plus-fill"></i>
      <span>Registrar Médico</span>
    </a>
    
    <!-- Opciones para médicos -->
    <a *ngIf="isRecepcionista()" class="nav-link" [routerLink]="['/gestionar-cita']" routerLinkActive="active">
      <i class="bi bi-calendar-check"></i>
      <span>Gestionar Citas</span>
    </a>
    
    
    <!-- Opciones solo para pacientes -->
    <a *ngIf="isPaciente()" class="nav-link" [routerLink]="['/reservar-cita']" routerLinkActive="active">
      <i class="bi bi-calendar-plus"></i>
      <span>Reservar Cita</span>
    </a>
    
    <a *ngIf="isPaciente()" class="nav-link" [routerLink]="['/citas-paciente', getUserId()]" routerLinkActive="active">
      <i class="bi bi-calendar-week"></i>
      <span>Citas</span>
    </a>
    
    <a *ngIf="isPaciente()" class="nav-link" [routerLink]="['/historial-paciente', getUserId()]" routerLinkActive="active">
      <i class="bi bi-journal-medical"></i>
      <span>Historial</span>
    </a>
    
    <a *ngIf="isPaciente()" class="nav-link" [routerLink]="['/facturas', getUserId()]" routerLinkActive="active">
      <i class="bi bi-receipt"></i>
      <span>Facturas</span>
    </a>

    <a *ngIf="isMedico()" class="nav-link" [routerLink]="['/agenda']" routerLinkActive="active">
      <i class="bi bi-calendar-week"></i>
      <span>Agenda</span>
    </a>

    <a *ngIf="isMedico()" class="nav-link" [routerLink]="['/pruebas-solicitadas']" routerLinkActive="active">
      <i class="bi bi-clipboard-data"></i>
      <span>Resultados de Pruebas</span>
    </a>
    
    <!-- Opción de cierre de sesión para todos -->
    <a class="nav-link" (click)="logout()" routerLinkActive="active">
      <i class="bi bi-power"></i>
      <span>Cerrar Sesión</span>
    </a>
  </div>
</div>
