# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Angular
dist/
.angular/
.angular-cache/
.tmp/
out-tsc/
coverage/

# IDE
.vscode/

# Archivos específicos
*.png
*.jpeg
*.jpg
*.txt
*.pdf
